#!/bin/sh

# === Installing ===
#
#   $ cp -i baktogit.cron.sample /etc/cron.daily/baktogit
#   $ vim /etc/cron.daily/baktogit
#   $ chmod +x /etc/cron.daily/baktogit
#
# --

set -e

export BAKTOGIT_REPO=/path/to/repo
export BAKTOGIT_PUSH=yes

/path/to/baktogit /paths /to /files /and /dirs

# --
