#!/bin/sh

set -e
export BAKTOGIT_REPO=/path/to/repo BAKTOGIT_PUSH=yes
/opt/src/baktogit/baktogit.bash /paths/to /files/and/dirs

# export MAILER_SUBJECT="baktogit of ` hostname ` @ ` date +'%F %T' `"
# /opt/src/baktogit/baktogit.bash ... 2>&1 \
#   | /opt/src/mailer/mailer.bash

# --
